In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
import matplotlib.pyplot as pp

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
from sklearn import svm

In [8]:
data=pd.read_csv("emails.csv")

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [10]:
data

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [11]:
x=data['Email No.'].values
y=data['ect'].values

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.8,random_state=0)

In [14]:
cv=CountVectorizer()
x_train=cv.fit_transform(x_train)
x_test =cv.transform(x_test)

In [15]:
print(x_train)

  (0, 1032)	1
  (0, 993)	1
  (1, 1032)	1
  (1, 268)	1
  (2, 1032)	1
  (2, 690)	1
  (3, 1032)	1
  (3, 699)	1
  (4, 1032)	1
  (4, 218)	1
  (5, 1032)	1
  (5, 599)	1
  (6, 1032)	1
  (6, 545)	1
  (7, 1032)	1
  (7, 876)	1
  (8, 1032)	1
  (8, 716)	1
  (9, 1032)	1
  (9, 892)	1
  (10, 1032)	1
  (10, 914)	1
  (11, 1032)	1
  (11, 782)	1
  (12, 1032)	1
  :	:
  (1021, 261)	1
  (1022, 1032)	1
  (1022, 243)	1
  (1023, 1032)	1
  (1023, 358)	1
  (1024, 1032)	1
  (1024, 964)	1
  (1025, 1032)	1
  (1025, 559)	1
  (1026, 1032)	1
  (1026, 746)	1
  (1027, 1032)	1
  (1027, 7)	1
  (1028, 1032)	1
  (1028, 836)	1
  (1029, 1032)	1
  (1029, 859)	1
  (1030, 1032)	1
  (1030, 498)	1
  (1031, 1032)	1
  (1031, 139)	1
  (1032, 1032)	1
  (1032, 360)	1
  (1033, 1032)	1
  (1033, 386)	1

In [16]:
print(x_test)

  (0, 1032)	1
  (1, 1032)	1
  (2, 1032)	1
  (3, 1032)	1
  (4, 1032)	1
  (5, 1032)	1
  (6, 1032)	1
  (7, 1032)	1
  (8, 1032)	1
  (9, 1032)	1
  (10, 1032)	1
  (11, 1032)	1
  (12, 1032)	1
  (13, 1032)	1
  (14, 1032)	1
  (15, 1032)	1
  (16, 1032)	1
  (17, 1032)	1
  (18, 1032)	1
  (19, 1032)	1
  (20, 1032)	1
  (21, 1032)	1
  (22, 1032)	1
  (23, 1032)	1
  (24, 1032)	1
  :	:
  (4113, 1032)	1
  (4114, 1032)	1
  (4115, 1032)	1
  (4116, 1032)	1
  (4117, 1032)	1
  (4118, 1032)	1
  (4119, 1032)	1
  (4120, 1032)	1
  (4121, 1032)	1
  (4122, 1032)	1
  (4123, 1032)	1
  (4124, 1032)	1
  (4125, 1032)	1
  (4126, 1032)	1
  (4127, 1032)	1
  (4128, 1032)	1
  (4129, 1032)	1
  (4130, 1032)	1
  (4131, 1032)	1
  (4132, 1032)	1
  (4133, 1032)	1
  (4134, 1032)	1
  (4135, 1032)	1
  (4136, 1032)	1
  (4137, 1032)	1

In [17]:
from sklearn.svm import SVC
classifier=SVC(kernel = 'rbf',random_state=10)
classifier.fit(x_train,y_train)
print(classifier.score(x_test,y_test))

0.4971000483325278

In [18]:
#using KNN
from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier()
knn_model.fit(x_train,y_train)
print(knn_model.score(x_test,y_test))

0.4971000483325278